
.mcc1, .mcc2, .mcc3 {
    height: auto;
}

@media ( min-width: 700px) {
    .mcc2 {
        display: block;
        margin-left: 16px;
    }
}
@media ( min-width: 900px) {
    .mcc3 {
        display: block;
        margin-left: 16px;
    }
}


.overlay {
    background-color: #000C;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 9999;
}
.overlay .text {
color: #FFFFFF;
    position: relative;
    top: 35%;
    font-size: 1.6em;
    text-align: center;
    letter-spacing: 0.4em;
}

.bigsection {
    padding:16px;
    margin-bottom: 16px;
}

.mdbox {
    margin: 8px 0 16px 0;
}

.smbox {
    margin-bottom: 8px;
}



.kv_box {
    display: flex;
    flex-wrap: wrap;
}
.kv_box>div {
    margin: 0.1em 0;
    margin-right: 0.4em;
}
.kv_box .value {
    font-weight: bold;
}


#sc-playlist {
    overflow: auto;
}


@media ( min-width: 700px) {
    .bigsection {
        border:1px solid #DDDDDD;
        border-radius: 3px;
    }
    section.main-container {
        display: flex;
        max-height: 96vh;
        height: 96vh;
    }
    section.main-container > section {
        flex:1;
    }
}


#sc-tabs {
    background-color: #F7F7F7;
    font-size: 0.9em;
}

#sc-artwkctrls {
    position: relative;
}

#sc-artwkctrls .artwork {
    text-align: center;
    flex-grow: 1;
}

#sc-artwkctrls .artwork img {
    width: 200px;
    height: 200px;
}

#sc-artwkctrls .side {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

#sc-artwkctrls .cntrls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: stretch;
    text-align: right;
}

#sc-artwkctrls .cntrls button {
    display: block;
    padding: 0;
    margin: 0.3em 0;
    height: 30px;
    width: 30px;
    border-radius: 3px;
    border: 1px solid #CCCCCC;
    background-color: #EEEEEE;
}



#sc-pinfo {
    text-align: center;
}

#sc-pinfo div:nth-child(1) {
    margin-bottom: 0.5em;
}


#sc-pnav {
    display: flex;
    justify-content: center;
    align-items: center;
}



#sc-pnav button {
    padding: 0;
    margin:0 0.3em;
    border-radius: 56px;
    border: 1px solid #CCCCCC;
    height: 54px;
    width: 54px;
    background-color: #EEEEEE;
    text-align: center;
    line-height: 0.2em;
}

#sc-pnav button.sm {
    border-radius: 36px;
    border: 1px solid #DDDDDD;
    height: 40px;
    width: 40px;
    background-color: #F9F9F9;
}

#sc-pnav button.play {
    font-size: 1.2em;
    height: 68px;
    width: 68px;
}



#sc-comments {
    display: flex;
}
#sc-comments input {
    flex-grow: 1;
    margin-right: 0.6em;
}


#sc-pwaveform {
    position: relative;
    background-color: #949fbd;
}
#sc-pwaveform .full {
    height: 62px;
    position: relative;
    z-index: 100;
    background-size: 100% 100%;
}
#sc-pwaveform .prog {
    height: 62px;
    background-color: rgb(85, 85, 85);
    top: 0px;
    left: 0px;
    width: 0%;
    position: absolute;
    z-index: 10;
}


#sc-trackinfo .trackdesc,
#sc-userinfo .userdesc {
    clear: both;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 0.6em;
    font-size: 0.9em;
    color: #555555;
    max-height: 15em;
    overflow: auto;
    overflow-wrap: break-word;
    word-break: break-word;
}

#sc-trackinfo .tracktags {
    font-size: 0.70em;
    font-variant: small-caps;
}


#sc-userinfo .overview .avatar {
    float: left;
    margin:0 0.8em 0 0;
}
#sc-userinfo .overview>div {
    margin-bottom: 0.4em;
}


#sc-trackinfo .overview .title,
#sc-userinfo .overview .name {
    font-weight: bold;
    font-size: 1.1em;
}



/* playlist items */

#sc-playlist {
    display: none;
    padding: 0;
    position: absolute;
    top: 60px;
    left: 0px;
    z-index: 2000;
}

@media ( min-width: 900px) {
    #sc-playlist {
        position: static;
        display: block;
    }
}

#sc-playlist .items {
    position: relative;
}
#sc-playlist .item {
    padding:0.8em 0.8em 0.8em 1.1em;
    cursor: pointer;
    font-size: 0.9em;
    border-bottom: 1px solid #DDDDDD;
}

#sc-playlist .item.active,
#sc-playlist .item:hover, #sc-playlist .item:active {
    background-color: #EEEEEE;
}
#sc-playlist .item.playing {
    background-color: #DDDDDD;
}

#sc-playlist .item .awk {
    float: right;
    margin: 0 0 0.4em 0.8em;
}
#sc-playlist .item .awk img {
    width: 80px;
    height: 80px;
    border-radius: 5px;
}

#sc-playlist .item .iinfo {
    padding-top: 0.2em;
}
#sc-playlist .item>div,
#sc-playlist .item .iinfo>div {
    margin-bottom: 0.4em;
}

#sc-playlist .item .iinfo .username {
    font-size:0.9em;
    font-weight: bold;
}

#sc-playlist .item .iinfo .title {
    font-size:1.1em;
}
