
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: inherit;
}

small, .small {
    font-size: 0.8em;
}

strong, .strong {
    font-weight: 600;
}

button {
    font-variant: small-caps;
    font-size: 0.85em;
    padding: 0.3em 0.8em;
}
